@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Dosis|Cabin");

/*------------------------------------------------------------------
  [Table of contents]

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
  2.Comman Styling
  3. Body
  4. Header / .header
      4.1. header top
      4.2. header bottom
      4.2.1. navigation
      4.2.2. search
  5. Main / .main
    5.1. Banner
    5.2. Core Business
    5.3. Flasgship Section
    5.4.Conferences Section
    5.5. Newsletter Section
    5.6.Treasury Section
  6. Footer / .footer
    6.1. Footer top 
    6.2. Footer bottom
  7. Media queries
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* ==========================================================================
  2.Common Styling
   ========================================================================= */

* { 
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  box-sizing: border-box;
}

a { 
  display: inline-block;
  vertical-align: top;
  text-decoration: none; 
}

li { list-style-type: none; }
img { width: 100%; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: transform .5s ease-out;
  -moz-transition: transform .5s ease-out;
  -ms-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
}

::placeholder {
  color: #b3aeb1;
  font-size: 14px;
  text-transform: capitalize;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder,
::-o-transition {
  color: #b3aeb1;
  font-size: 14px;
  text-transform: capitalize;
}

/* ==========================================================================
  3.Body 
   ========================================================================= */

body { 
  background: -webkit-linear-gradient(top left, #2d5eab, #1e3262);
  background: -o-linear-gradient(top left, #2d5eab, #1e3262);
  background: linear-gradient(to bottom right, #2d5eab, #1e3262);
  font-family: 'Dosis', sans-serif;
}

.container { width: 100%; }

.wrapper {
  max-width: 1400px;
  width: 69.82%;
  margin: 0 auto;
}

/* ==========================================================================
  4.header 
   ========================================================================= */

header { 
  width: 100%;  
  position: absolute;
  top: 0;
}

header .wrapper { position: relative; }

/* 4.1. header top
   ========================================================================== */
.topheader {
  width: 100%;
  padding: 37px 0 55px;
}

h1 {
  width: 27%;
  display: inline-block;
  vertical-align: top;
}

.select-list {
  width: 17.8%;
  padding-left: 4.4%;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  font-family: 'Cabin', sans-serif ;
}

.select-list span{
  width: 100%;
  border-bottom: 2px solid #0091d5;
  padding-bottom: 2px;
  display: inline-block;
  color: #b3bec7;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: .5px;
}

.select-list span i {
  padding-top: 5px;
  float: right;
  font-size: 12px;
}

.sub-list { 
  width: 17.8%;
  display: none;
  background: rgba(255,255,255,.2); 
}

.sub-list li a{
  padding: 10px 0;
  color: #8d99a8;
  font-size: 14px;
}

.sub-list li a:hover { color:#4dc0f3; }

.topheader form { 
  width: 31.6%;
  font-size: 0;
  float: right;
  position: relative;
}

.select-list:hover .sub-list{
  width: 95%;
  display: block;
  position: absolute;
  top: 22px;
  left: 23px;
  background: #fff;
  z-index: 2;
  text-align: center;
}

.topheader input[type="search"] {
  width: 81%;
  height: 38px;
  padding-left: 16px;
  border: 1px solid #7ec6eb;
  outline: none;
}

.topheader input[type="submit"] {
  width: 19.6%;
  height: 38px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  background: #439fe3;
  color: #d5f2fb;
  text-transform: capitalize;
}

.topheader input[type="submit"]:hover {
  border: 1px solid #439fe3;
  background: #1c346c;
  color: #439fe3;
}

/* 4.1. header Bottom
   ========================================================================== */

.bottom-header { background: rgba(0,123,195,.5); }

/* 4.2.1. navigation
   ========================================================================== */
.hamburger {
  display: none;
  color: #fff;
  font-size: 25px;
}

nav ul { display: block; }

nav li {
  padding-left: 2%;
  margin: 5px 0;
  display: inline-block;
  vertical-align: top;
}

nav a {
  padding: 5px 0;
  color: #a3ddf4;
  font-family: 'Cabin', sans-serif ;
  font-size: 16px;
}

nav a:hover {
  color: #244684;
}

nav li:not(:last-child) a::after {
  content: "";
  border-right: 1px solid #009fdd;
  padding-left: 20px;
  color: #409ad8;
}

/* 4.1. header top
   ========================================================================== */

.bottom-header form {
  display: none;
  float: right;
}

/* ==========================================================================
  5.Main Styling
   ========================================================================= */

/* 5.1. Banner
   ========================================================================== */

.banner { 
  width: 100%;
  background: -webkit-linear-gradient(left, #2d5eaa, #2d5eaa);
  background: -o-linear-gradient(left, #2d5eaa, #2d5eaa);
  background: linear-gradient(to right, #2d5eaa, #2d5eaa);
}

.banner-back {
  padding: 279px 0 126px;
  background: url('../images/HP5-1.jpg') center/88.6% 100%  no-repeat;
}

h2 {
  font-size: 40px;
  color: #fff;
}

h2:first-letter,
.treasury p:first-letter,
.treasury a:first-letter { text-transform: capitalize; }

.treasury p {
  padding: 4px 0 25px;
  font-size: 28px;
  color: #6fcbf6;
}

.treasury span { display: block; }

.treasury a {
  padding: 10px 5%;
  border-radius: 2px;
  background: #439fe3;
  color: #d4e7f4;
  font-family: arial;
}

.treasury a:hover {
  background: #d4e7f4;
  color: #439fe3;
}

/* 5.2. Core Business
   ========================================================================== */

.core {
  padding: 60px 0 75px;
  background: #fff;
}

h3 {
  color: #3f84df;
  font-size: 30px;
}

h3:first-letter,
h4:first-letter,
h5:first-letter { text-transform: capitalize; }

.our-value { font-size: 0; }

.our-value li {
  width: 15%;
  margin-top: 32px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.our-value li:hover img {
  transform: scale(1.01);
  box-shadow: 0 0 10px #B7B7B6;
}

.our-value li:hover h4 {
  color: #18274c;
}

.our-value li:not(:last-child) { margin-right: 2%; }

h4 {
  padding: 15px 0 2px;
  font-size: 23px;
  font-weight: 600;
  color: #3f84df;
}

.our-value li p {
  color: #586066;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
}

/* 5.3. Flasgship Section
   ========================================================================== */


.flasgship {
  padding: 144px 0 138px;
  background: url('../images/HP5-1.jpg') center/88.6% 100%  no-repeat;
}

h5 {
  color: #cedfed;
  font-size: 28px;
}

.treasury .our-para {
  padding: 37px 0 36px;
  color: #dae7f2;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .6px;
}

/* 5.3. Conferences Section
   ========================================================================== */

.conferences {
  padding: 28px 0 38px;
  background: #1e3065;
}

.supply {
  width: 80%;
  padding: 16px 0;
  display: inline-block;
  vertical-align: top;
}

.finance li{
  width: 42.9%;
  padding-right: 2%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: .6px;
}

h6 {
  color: #73c3e6;
  font-size: 24px;
}

.finance { padding-top: 30px; }

.finance li address{ 
  font-size: 15px;
  font-weight: 600;
  color: #edebea;
}

.finance li:last-child { padding-left: 14px; }
.finance li:first-child { border-right: 2px solid #c8d7e6; }

.conferences a {
  width: 19.1%;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  text-align: center;
}

.conferences a:first-letter { text-transform: capitalize; }
.conferences a span { display: none; }
.conferences a:hover {
  background: #fff;
  color: #1f3065;
  font-weight: bold;
}

/* 5.3. Newsletter Section
   ========================================================================== */

.newsletter {
  padding: 62px 0 80px;
  background: -webkit-linear-gradient(left, #1c336a, #035aa2);
  background: -o-linear-gradient(left, #1c336a, #035aa2);
  background: linear-gradient(to right, #1c336a, #035aa2);
  background-size: 88.5% 100%;
  background-position: center;
}

.sign-up {
  width: 49.8%;
  display: inline-block;
  vertical-align: top;
}

.sign-up p {
  padding-top: 20px;
  color: #ece9ea;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
}


.sign-up p:first-letter { text-transform: capitalize; }
.newsletter form {
  width: 49.8%;
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
}

.newsletter form input[type="email"] {
  width: 69%;
  height: 42px;
  padding-left: 16px;
  border: 1px solid #7ec6eb;
  outline: none;
}

.newsletter form input[type="submit"] {
  width: 29.1%;
  height: 41.5px;
  border: none;
  outline: none;
  vertical-align: top;
  background: #439fe3;
  color: #d5f2fb;
  font-size: 15px;
  text-transform: capitalize;
}

.newsletter form input[type="submit"]:hover {
  border: 1px solid #439fe3;
  background: #1c346c;
  color: #439fe3;
}

/* 5.3. Treasury Section
   ========================================================================== */

.treasury-section {
  padding: 100px 0;
  background: #fff;
}

.network {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.network p{
  padding: 28px 0 35px;
  font-size: 17px;
  font-weight: 600;
  color: #8a8989;
}

.network a {
  width: 47%;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.log-in { 
  margin-right: 4%;
  background: #439fe3;
  color: #d5f2fb;
}

.log-in:hover {
  border: 1px solid #2fb1e8;
  background: #fff;
  color: #439fe3;
}

.register {
  border: 1px solid #2fb1e8;
  color: #2fb1e8;
}

.register:hover {
  background: #2fb1e8;
  color: #fff;
}

.side-img {
  width: 48.9%;
  float: right;
}


/* ==========================================================================
   6. CSS Reset Code
   ========================================================================== */

footer { background: url('../images/footer-1024x307.png') center/88.6% 100%  no-repeat; }

footer a,
footer p { color: #daf6ec; }

/* 6.1. Treasury Section
   ========================================================================== */

.foot-top { padding: 49px 0 71px; }

.euro-group,
.our-sites ,
.updates-links ,
.updates-links li{
  display: inline-block;
  vertical-align: top;
}

.euro-group p {
  padding-top: 49px;
  font-size: 16px;
  font-weight: 600;
}

.euro-group p span { display: block; }
.our-sites { padding: 0 16.5% 0 4.6%; }
.our-sites ul { padding-top: 18px; }

.our-sites ul li {
  padding-bottom: 4px;
  font-size: 17px;
  font-weight: 600;
}

.link,
.updates-links span {
  color: #fff;
  font-size: 20px;
}

.updates-links { width: 22.2%; }

.updates-links ul { 
  padding-top: 15px; 
  font-size: 0;
}

.updates-links li { width:19.3%; }
.updates-links li:not(:last-child) { margin-right: 7.3%; }
 
 /* 6.2. Treasury Section
   ========================================================================== */

.foot-bottom {
  background: -webkit-linear-gradient(left, #214884, #162950);
  background: -o-linear-gradient(left, #214884, #162950);
  background: linear-gradient(to right, #214884, #162950);
  font-family: Arial;
}

.foot-bottom a { color: #fff; }

.foot-bottom ul,
.foot-bottom li {
  display: inline-block;
  vertical-align: top;
}

.foot-bottom li {
  padding: 5px 2px;
  margin: 5px 0;
}

.foot-bottom li:not(:last-child) a:after {
  content: "";
  padding: 0 3px;
  border-right: 1px solid #fff;
  font-weight: 900;
  color: #fff;
}

.foot-bottom p {
  margin-top: 14px;
  float: right;
}

.updates-links li {
  border: 1px solid transparent;
  border-radius: 50%;
} 

.foot-bottom a:hover,
.our-sites a:hover { color: #48b2e8; }

.updates-links li:hover {
  border: 1px solid #48b2e8;
  transform: scale(1.02);
}

/* ==========================================================================
   7. Media queries
   ========================================================================== */

@media screen and (max-width: 1150px) {
  .select-list { width: 23%; }
  .topheader form { width: 33%; }
  .newsletter form { width: 48%; }

  .updates-links {
    padding-top: 50px;
    margin: 0 auto;
    display: block; 
    text-align: center; 
  }

  .our-sites { 
    padding-right: 4%; 
    float: right;
  }
}

@media screen and (max-width: 980px) {
  .select-list { width: 25%; }
  .topheader form { width: 35%; }
  .our-value li {width: 31.3%; }

  .our-value li:not(:nth-child(3)),
  .our-value li:not(:last-child) { margin-right: 2%; }

  .supply {
    width: 100%;
    display: block;
  }

  .finance li { width: 49%; }
  
  .conferences a{
    display: block;
    margin: 10px auto 0;
  }

  .updates-links { width: 35%; }
  .foot-bottom {text-align: center; }

  .foot-bottom p {
    width: 100%;
    float: left;
    text-align: center;
  }

  .foot-bottom ul { display: block; }
}

@media screen and (max-width: 784px) {

  header { position: static; }

  .hamburger { 
    display: inline-block;
    font-size: 30px;
  }

  nav ul { display: none; }
  .topheader form { display: none; }
  nav { display: inline-block; }
  h1 { width: 60%; }

  nav:hover ul {
    width: 50%;
    display: block;
    position: absolute;
    top: 30px;
    left :0;
    background: #1a3770;
  }

  nav li {
    width: 100%;
    display: block;
    text-align: center;
  }

  nav li:not(:last-child) a::after { 
    content: " ";
    border-right: none;
  }

  nav a:hover { color:#a3ddf4; }

  .select-list { 
    width: 28%;
    padding: 20px 0 0;
    float: right; 
  }

  .select-list:hover .sub-list{
    position: absolute;
    top: 42px;
    left: 0px;
  }

  .sub-list li a:hover { color:#8d99a8; }

  .bottom-header form {
    padding-top: 5px;
    border-bottom: 1px solid #7ec6eb;
    display: inline-block;
    float: right;
    position: relative;
    color:#fff;
    font-size: 20px;
  }

  .bottom-header input[type="search"] {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #2d62a7;
  }

  .banner-back {
    padding: 85px 0 67px;
    background:none;
    background: radial-gradient(circle,#1b356e,#07559b);
    text-align: center;
  }

  .core { 
    margin: 0 auto;
    text-align: center;
  }

  .our-value li { width: 47%; }
  .our-value li:not(:nth-child(2))
  .our-value li:not(:nth-child(4)),
  .our-value li:not(:last-child) { margin-right: 3%; }
  
  .flasgship {
    padding: 73px 0 90px;
    background: none;
    background-image: -webkit-linear-gradient(#1c3369, #2b5ba6);
    background-image: -o-linear-gradient(#1c3369, #2b5ba6);
    background-image: linear-gradient(#1c3369, #2b5ba6);
    text-align: center;
  }
  
  .treasury a:hover {
    background: #439fe3;
    color: #d4e7f4;
  }

  .our-value li:hover img {
    box-shadow: none;
    transform: none;
  }

  .our-value li:hover h4 { color:#3f84df }

  .network {
    width: 100%;
    padding-bottom: 50px; 
    display: block;
  }

  .conferences a {
    width: 45%;
    display: block;
  }

  .conferences a:hover {
    background: #1f3065;
    color: #fff;
    font-weight: normal;
  }

  .side-img {
    width: 100%;
    float: none;
  }

   .sign-up {
    width: 100%;
    padding: 45px 0; 
    display: block;
  }
  
  .newsletter form {
    width: 100%;
    display: block;
  }

  .log-in:hover {
    border: none;
    background: #439fe3;
    color: #d5f2fb;
  }

  .register:hover {
    background: #fff;
    color: #2fb1e8;
  }

  footer {
    background: none;
    background-image: radial-gradient(circle,#1b356e,#07559b);
  }

  .euro-group,
  .our-sites { 
    width: 100%;
    padding-left: 0;
    border-bottom: 2px solid #979797;
    display: block;
    float: none;
    text-align: center;
  }

  .updates-links { 
      width: 50%;
      padding-top: 30px;
    }

  .updates-links span { margin-top: 30px; }
  .euro-group p { padding: 28px 0 32px; }
  .euro-group p span { display: inline-block; }
  .our-sites { padding: 30px 0; }

  .our-sites a:hover {
    color: #fff; 
    text-decoration: none;
  }

  .updates-links li:hover {
    transform: none;
    opacity: 1;
  }

  .foot-bottom a:hover { color: #fff; }
}

@media screen and (max-width: 495px) {

  .wrapper { width: 87.5%; }
  header { position: static; }
  .hamburger { display: inline-block; }
  nav ul { display: none; }
  .topheader form { display: none; }
  nav { display: inline-block; }

  nav:hover ul {
    width: 100%;
    display: block;
    position: absolute;
    top: 30px;
    left: 0;  
   }

   nav span i { padding-right: 5px; }

  .bottom-header { position: relative; }

  nav li {
    width: 100%;
    display: block;
    text-align: center;
  }

  nav li:not(:last-child) a { border-right: none;  }
  nav li:not(:last-child) { border-bottom: 1px solid #e2e7e3; } 
  nav a:hover { color:#e2e7e3; }
  
  .select-list{
    width: 35%;
    position: absolute;
    top: 170%;
    left: calc(50% - 15%);
    z-index: 1;
  }

  .select-list span i { float: none; }

  h1 { width: 100%; }
  .bottom-header { background: radial-gradient(circle,#4199db,#2e63ad); }

  .bottom-header form {
    display: inline-block;
    border: none;
    float: right;
    position: relative;
    color: #fff;
    font-size: 20px;
  }

  .bottom-header input[type="search"] {
    width: 300px;
    height: 38px;
    border: 1px solid #7ec6eb;
    outline: none;
    display: none;
  }

  .bottom-header form:hover input[type="search"] {
    display: block;
    position: absolute;
    top: 32px;
    right: 0;
  }

  .banner-back {
    padding: 85px 0 67px;
    background-image: none;
    background: radial-gradient(circle,#1b356e,#07559b);
    text-align: center;
  }

  h2 span { display: block; }

  .banner p {
    width: 85%;
    margin:0 auto;
  }
  
  .treasury a {
    width: 100%;
    text-align: center;
  }

  .our-value li { width: 100%; }

  h3,
  h5 { font-size: 32px; }
  h4 { font-size: 27px; }

  .core { 
    padding: 48px 0 63px;
    text-align: center; 
  }

  .core .wrapper { width: 68.06% }
  .our-value li img { display: none; }
   .our-value li { padding-top: 15px; }

  .flasgship {
    text-align: center;
    padding: 73px 0 90px;
    background: none;
    background-image: -webkit-linear-gradient(#1c3369, #2b5ba6);
    background-image: -o-linear-gradient(#1c3369, #2b5ba6);
    background-image: linear-gradient(#1c3369, #2b5ba6);
  }

  .treasury .our-para { padding: 15px 0 18px; }
  .conferences { text-align: center; }
  .finance { padding-top: 13px; }

  .finance li {
    width: 100%;
    border:none;
    display: block;
  }

  .finance li:last-child { padding-left: 0; }
  .finance li:first-child { border-right:none }

  h6 {
    color: #73d5fa;
    font-size:  27px;
  }

  .finance li address {
    padding:19px 0 30px; 
    font-size:  18px; 
  }

  .conferences .wrapper { 
    width: 85%;
    margin:0 auto; 
  } 

  .conferences a {
    width: 30%;
    display: block;
    border: none;
  }

  .conferences a span { display: inline-block; }

  .newsletter { 
    background: none;
    background: radial-gradient(circle,#1b356e,#07559b);
  }

  .sign-up {
    width: 100%;
    padding: 45px 0; 
    display: block;
  }
  
  .newsletter form {
    width: 100%;
    display: block;
  }

  .newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 26px;
  }

  .newsletter form input[type="submit"] { width: 100%; }
  
  .network a {
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }

  .foot-top { padding: 63px 0 71px; }
  .foot-bottom li { display: block; }

  .foot-bottom li:not(:last-child) a:after {
    content: ""; 
    border-right: none;
  }
}
  